body {
  background-color: #282c34 !important;
  font-family: "Lato", sans-serif;
}

button {
  cursor: pointer;
}

form {
  display: inline;
}

.App {
  text-align: center;
  color: white;
}

.navButton {
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: transparent;
  color: #8b94a1;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #444c58;
}

.navButton:hover {
  color: #bfc7d3;
  border-color: #6c7788;
}

/* ----     Scrollbar     ----*/

#style-1::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: #191b20;
}

#style-1::-webkit-scrollbar {
  width: 0.3rem;
  background-color: #282c34;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #4d5464;
}

/* ----     IMG     ----*/

img {
  width: 12rem;
}

.trashIcon {
  width: 2rem;
}

/* ----     LOGIN     ----*/

.loginBackground {
  background: url("../img/backgroundImg.jpg");

  background-repeat: no-repeat, repeat;

  background: cover;
  height: 100vh;
}

.Login {
  margin: auto;
  padding: 3rem 2rem 3rem 2rem;
  color: white;
  border-radius: 0.5rem;
  background-color: #354153;

  -webkit-box-shadow: 0px 0px 60px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 60px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 60px -6px rgba(0, 0, 0, 0.75);
}

.loginWrapper {
  margin: auto;
  padding-top: 5rem;
}

.loginInner {
  margin-top: 1rem;
}

.loginTextLabel,
.loginInputLabel {
  font-family: "Lato", sans-serif;
  margin: auto;
  padding: 0 1rem 0 1rem;
}

.loginTextLabel {
  color: white;
}

.loginInputLabel {
  color: white;
}

.buttonWrapper {
  width: 30%;
}

.loginButton,
.registerButton,
.acceptButton {
  color: white;
  border-radius: 15rem;
  border-style: none;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
}

.loginButton,
.acceptButton {
  margin-top: 1.5rem;
  color: white;
}

.loginButton {
  background-color: #52a600;
}

.loginButton:hover {
  background-color: #6cd404;
}

.acceptButton {
  background-color: #069adf;
}

.acceptButton:hover {
  background-color: #3bc1ff;
}

.registerButton {
  margin-top: 1rem;
  color: white;
  background-color: transparent;
  border-style: solid;
  border-color: #069adf;
  border: 2;
  font-size: 0.8rem;
}

.registerButton:hover {
  border-color: #69cfff;
}

input {
  background-color: #c7c7c7;
  border-style: none;
  padding: 0.5rem;
  padding-left: 1rem;
  width: 100%;
}

.formHeader {
  font-family: "Merriweather", serif;
  color: #c7c7c7;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

#mainHeader {
  font-size: 3rem;
}

/* ----     PROJECT     ----*/

.projectBackground {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -100;
  background: url("../img/backgroundImg.jpg");

  background-repeat: no-repeat, repeat;
  display: block;

  background: cover;
  height: 100vh;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}

.projectContent {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}

.ProjectView {
  padding-top: 8rem;
  z-index: 2;
}

.Project {
  background-color: #545f75;
  margin: auto;
  width: 50%;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-top: 1.8rem;
  border-radius: 0.2rem;
  color: white;
  text-decoration: none;
  z-index: 2;

  -webkit-box-shadow: 0px 0px 40px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 40px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 40px -6px rgba(0, 0, 0, 0.75);
}

.Project:hover {
  background-color: #69748b;
}

.ProjectLink {
  text-decoration: none;
}

.ProjectName {
  font-family: "Merriweather", serif;
  color: white;
}

.ProjectName:hover {
  text-decoration: none;
}

.ProjectType {
  font-family: "Lato", sans-serif;
  color: #282c34;
}

.ProjectView button {
  border-style: none;
  font-size: 2.3rem;
  margin-top: 2rem;
  margin-bottom: 0;
  float: none;
  background-color: #c7c7c7;
  padding: 0.6rem 1.5rem;
  border-radius: 10rem;
  color: #282c34;
  cursor: pointer;
}

.ProjectView button:hover {
  background-color: #f3f3f3;
}

.ProjectModal {
  padding: 3rem 2rem 3rem 2rem;
  margin: auto;
  margin-top: 15rem;
  width: 50%;
  border-radius: 0.5rem;
  background-color: #545f75;
  -webkit-box-shadow: 0px 0px 60px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 60px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 60px -6px rgba(0, 0, 0, 0.75);
}

.ProjectModal button {
  background-color: transparent;
  border-style: none;
  float: right;
  margin-bottom: 4rem;
}

.ProjectModal button:hover {
  color: white;
}

.ProjectModal label {
  margin-top: 0.5rem;
  color: rgb(255, 144, 144);
}

.ProjectModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #191b20b7;
}

.radio label {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  color: #282c34;
}

input[type="radio"] + span {
  border-radius: 50%;
}

#createProject {
  border-style: none;
  margin-top: 2rem;
  margin-bottom: 0;
  float: none;
  background-color: #5c9d24;
  padding: 0.5rem 1rem;
  border-radius: 15rem;
  color: white;
  cursor: pointer;
}

#createProject:hover {
  background-color: #78c534;
}

/* ----     TRASH     ----*/

.Trash {
  background: lightslategray;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  float: right;
  margin-bottom: 0.5rem;
}

.TrashHide {
  display: none;
}

/* ----     MONSTER     ----*/

.Monster {
  margin-top: 0.3rem;
  padding: 1rem;
  font-family: "Lato", sans-serif;
  background-color: #424857;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #cd4a25;
  color: white;
  text-align: center;
}

.MonsterStats {
  font-family: "Lato", sans-serif;
  color: white;
}

.MonsterAbility {
  font-family: "Lato", sans-serif;
  color: #9ba6bb;
  margin: 0.2rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #778397;
}

.Monster h5 {
  font-family: "Merriweather", serif;
}

.Monster button {
  color: rgb(172, 172, 172);
  background-color: transparent;
  border-style: none;
}

.Monster button:hover {
  color: white;
}

#monsterDelete {
  margin-left: 90%;
}

/* ----     EVENTS     ----*/

.eventInfo {
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin-top: 2rem;
  color: white;
  background-color: #1e2127;
  height: 90vh;
}

.eventInfo h4 {
  font-family: "Merriweather", serif;
  padding-top: 1rem;
}

.eventInfoArea {
  margin: auto;
  overflow: auto;
  height: 60vh;
}

.addMonsterMenu select {
  width: 50%;
  padding: 1rem;
  background: #282c34;
  color: #fff;
  font-family: "Lato", sans-serif;
  outline: none;
  cursor: pointer;
  border-style: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.addMonsterMenu {
  margin-top: 6rem;
}

.addMonsterMenu button {
  font-family: "Lato", sans-serif;
  background-color: #5d6472;
  border-style: none;
  padding: 0.95rem;
  color: #191b20;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.addMonsterMenu button:hover {
  background-color: #a1a8b9;
}

.Events {
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: auto;
  margin-top: 2rem;
  color: white;
  height: 90vh;
}

.eventsArea {
  margin: auto;
  overflow: auto;
  height: 55vh;
}

.Events h1 {
  font-family: "Merriweather", serif;
}

.eventDefault,
.eventDefaultChecked,
.eventCombat,
.eventCombatChecked,
.eventQuest,
.eventQuestChecked {
  font-family: "Lato", sans-serif;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
  background-color: #545f75;
  color: white;
  cursor: move;

  -webkit-box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.75);
}

.eventDefault:hover {
  background-color: #606d85;
}

.eventDefaultChecked,
.eventCombatChecked,
.eventQuestChecked {
  background-color: #3a4250;
  color: #a4a4a4;
}

.eventCombat {
  background-color: #cd4a25;
}

.eventCombat:hover {
  background-color: #e65c36;
}

.eventCombatChecked {
  background-color: #832f18;
}

.eventQuest {
  background-color: #5c9d24;
}

.eventQuest:hover {
  background-color: #73b935;
}

.eventQuestChecked {
  background-color: #2f5112;
}

.createButtonWrapper {
  width: 100%;
}

.createButtonDefault,
.createButtonCombat,
.createButtonQuest {
  font-family: "Lato", sans-serif;
  color: white;
  border: 0;
  border-radius: 15rem;
  margin-top: 1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding: 1rem;
  font-size: 1rem;
}

.createButtonDefault {
  background-color: #545f75;
}

.createButtonDefault:hover {
  background-color: #7b8497;
}

.createButtonCombat {
  background-color: #cd4a25;
}

.createButtonCombat:hover {
  background-color: #f3734f;
}

.createButtonQuest {
  background-color: #5c9d24;
}

.createButtonQuest:hover {
  background-color: #78c534;
}

.checkedButton,
.infoButton {
  color: lightgray;
  background-color: transparent;
  border: 0;
  outline: none;
  float: right;
}

.infoButton {
  float: left;
}

.checkedButton:focus,
.infoButton:focus,
.loginButton:focus,
.acceptButton:focus,
.registerButton:focus,
.createButtonCombat:focus,
.createButtonDefault:focus,
.createButtonQuest:focus,
.ProjectModal button:focus,
.ProjectView button:focus,
.Monster button:focus,
.addMonsterMenu button:focus {
  outline: none;
}
